<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/sign-in.css">
    <link rel="stylesheet" href="/public/css/alerts.css">
    <title>Inicia Sesión</title>
</head>
<body>
    <div class="flex-container">
        <div class="flex-item left">
            <h1>Programación en Bases de Datos</h1>
            <p class="description">Este proyecto esta siendo desarrollado como parte de un proyecto de la materia Programación en Bases de Datos. El objetivo principal es aplicar los conceptos aprendidos en clase.</p>
            <p class="name"><span class="bold">Alumno:</span> Pablo Arturo Jiménez de la Cruz</p>
            <img class="logo" src="/public/images/logo.png" alt="">
        </div>
        <div class="flex-item right">
            <div class="goBack">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#252422"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
                </a>
                <span>Volver</span>
            </div>
            <div class="card">
                <header class="header">
                    <h2>Le damos la bienvenida</h2>
                    <p>Inicie sesión en su cuenta</p>
                </header>
                <form class="form">
                    <div class="field">
                        <label for="email">Usuario</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="field field-password">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password">
                        <div class="visibility-icon">
                            <img src="/public/images/icons/visibility.svg" alt="">
                        </div>
                    </div>
                    <div class="forgotPassword">
                        <a class="link" href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                    <div class="submit">
                        <button type="submit">Iniciar sesión</button>
                    </div>
                </form>
                <div class="register">
                    <p>¿No tienes una cuenta? <a class="link" href="/auth/sign-up">Regístrate</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/login/field_password_visibility.js"></script>
    <!-- <script src="/public/js/alerts/alert_error.js"></script> -->
    <script type="module" src="/public/js/login/sign_in.js"></script>
</body>
</html>