@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    color: #252422;
}

.dashboard-container {
    margin: 30px;
}

.dashboard-container .dashboard {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.dashboard-container .dashboard .dashboard-title {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Montserrat';
    margin-bottom: 20px;
}

.dashboard-container .dashboard .search-form {
    display: flex;
    gap: 8px;
}

.dashboard-container .dashboard .search-form .search-input {
    flex: 1;
}

.dashboard-container .dashboard .search-form .button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.dashboard-container .dashboard .create-form {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0;
    gap: 8px;
}

.dashboard-container .dashboard .create-form .button {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.dashboard-container .dashboard .create-form .field {
    flex: 1;
    min-width: 80px;
}

.dashboard-container .dashboard .table-container {
    margin: 40px 0;
    overflow-x: auto;
}

.dashboard-container .dashboard .table-container .table {
    font-size: 0.85rem;
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
}

.dashboard-container .dashboard .table-container .table th, 
.dashboard-container .dashboard .table-container .table td {
    padding: 12px 8px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    box-sizing: border-box;
}

.dashboard-container .dashboard .table-container .table th {
    color: #868183;
    font-weight: 600;
}

.dashboard-container .dashboard .table-container .table td .buttons-group {
    display: flex;
    gap: 8px;
}

.dashboard-container .dashboard .table-container .table td .buttons-group .record-action-button {
    padding: 7px 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.dashboard-container .dashboard .table-container .table td .buttons-group .record-action-button:hover {
    background-color: #f0f0f0;
}

.dashboard-container .dashboard .table-container .table td .buttons-group .record-action-button:active {
    background-color: #e0e0e0;
}

.dashboard-container .dashboard .table-container .table td .buttons-group .record-action-button .material-symbols-outlined {
    font-size: 1.3rem;
}

.dashboard-container .dashboard .table-container .table {
    padding: 0 40px;
}

.dashboard-container .dashboard .table-container .table tr:hover {
    background-color: #fAfAfA;
}

.dashboard select,
.dashboard button,
.dashboard .field,
.dashboard .field::placeholder {
    font-family: inherit;
    font-size: 0.85rem;
}

.dashboard .field {
    height: 45px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    outline-offset: 2px;
    background-color: #fff;
    min-width: 45px;
    width: 100%;
    box-sizing: border-box;
}

.dashboard .field::placeholder {
    color: #a0a0a0;
}


.dashboard .field:focus {
    outline: 2px solid #a0a0a0;
}

.dashboard select.field {
    color: #252422;
}

.dashboard .button {
    padding: 10px;
    background-color: #efeeee;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.dashboard .button:hover {
    background-color: #e0e0e0;
}

.dashboard .button:active {
    background-color: #d0d0d0;
}
